$black: #000000;
$white: #ffffff;

$orange100: #F8E6BE;
$orange200: #EFA501;

$green100: #E0F0E5;
$green200: #627F7E;
$green300: #3B7E7B;
$green400: #286562;

$grey100: #F1F3F2;
$grey200: #D9DFDB;
$grey300: #A6A6A6;

$lightgrey: #d3d3d3;

$beige100: #F9F7F4;
$beige200: #F4F0E9;

$header-and-footer-height: 88px;

$viewport1024: 1024px;
$viewport770: 770px;